


/* Hero.css */
.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}
